.App {
  text-align: center;
  font-family: 'Libre Baskerville', regular;
}

h2 {
  font-size: 1.25rem;
  color: #6e6e6e;
  letter-spacing: 0.5em;
  font-family: Montserrat-Regular;
}

h3 {
  font-size: 0.75rem;
  color: #6e6e6e;
  letter-spacing: 0.5em;
  font-family: Montserrat-Regular;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel .slide img {
  height: 100vh;
  object-fit: cover;
  width: auto;
}

button.control-arrow:before {
  display: none !important;
}

.arrow-img {
  filter: brightness(100);
}

.leftSideMenu {
  float: right;
  display: flex;
}

.rightSideMenu {
  float: left;
  display: flex;
}

.menuItemContainer:hover {
  text-decoration: underline;
}